<link href="~/Content/login.css" rel="stylesheet" />
@{
    ViewBag.Title = "Todos Usuarios";
}

<h2 class="text-center">Bienvenidos a  <strong>Gasolinera Ecológica </strong></h2>

<table class="table table-bordered">
    <tr>
        <th>Combustible</th>
        <th>Precio</th>
    </tr>
    <tr>
        <td>Gasolina A</td>
        <td>1,01€</td>
    </tr>
    <tr>
        <td>Gasolina B</td>
        <td>1,1€</td>
    </tr>
    <tr>
        <td>Gasolina C</td>
        <td>1,21€</td>
    </tr>
    <tr>
        <td>Gasoil</td>
        <td>1€</td>
    </tr>
</table>



