
@{
    ViewBag.Title = "Trabajadores";
}

<h2 class="text-center">Zona de trabajadores</h2>

<table class="table table-bordered">
    <tr>
        <th>Combustible</th>
        <th>Precio actual</th>
        <th>Nuevo precio</th>
        <th>Guardar</th>
    </tr>
    <tr>
        <td>Gasolina A</td>
        <td>1,01€</td>
        <td><input type="number" /></td>
        <td><button type="button" class="btn btn-info">Guardar</button></td>
    </tr>
    <tr>
        <td>Gasolina B</td>
        <td>1,1€</td>
        <td><input type="number" /></td>
        <td><button type="button" class="btn btn-info">Guardar</button></td>
    </tr>
    <tr>
        <td>Gasolina C</td>
        <td>1,21€</td>
        <td><input type="number" /></td>
        <td><button type="button" class="btn btn-info">Guardar</button></td>
    </tr>
    <tr>
        <td>Gasoil</td>
        <td>1€</td>
        <td><input type="number" /></td>
        <td><button type="button" class="btn btn-info">Guardar</button></td>
    </tr>
</table>