
@{
    ViewBag.Title = "UsuariosLogueados";
}

<h2>Usuarios Logueados</h2>


<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h3 class="card-title text-center">Proceso de compra</h3>
                <form class="form-signin" method="post">
                    <div class="form-label-group">
                        <select>
                            <option> Gasolina A</option>
                            <option> Gasolina B</option>
                            <option> Gasolina C</option>
                            <option> Gasoil</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-label-group">
                        <input type="number" name="cantidad" class="" placeholder="Cantidad en €" /> €
                        
                    </div>
                    <button class="btn btn-lg btn-success btn-block text-uppercase" type="button">Comprar</button>
                </form>
            </div>
        </div>
    </div>
</div>
